@page "/checklist/{Title}"
@page "/checklist/{Title}/{Variant}"

<PageTitle>Checklist</PageTitle>

@using forgetmenot.Data
@inject ChecklistService ChecklistService

@if (checklist == null)
{
    <h1>Loading...</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@checklist.Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in checklist.Items)
            {
                var capturedItem = item; //.Item;
                //var prefix = new string(' ' /* non breakable space u+00a0 */, capturedItem.IndentSize);
                <tr>
                    <td @onclick="(e => ToggleItem(capturedItem))" >
                        <span>@(capturedItem.Done ? "✅" : "⬛") @capturedItem.Name</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p><em>@checklist.Summary</em></p>
    <p>Updated @checklist.ModifiedDate by @checklist.ModifiedBy</p>
    <p>@status</p>
}

@code {
    [Parameter]
    public string? Title {get; set;}

    [Parameter]
    public string? Variant { get; set; }

    private Checklist? checklist;
    private string status;

    protected override async Task OnInitializedAsync()
    {
        int version = -1; // latest
        bool useArchetype = false;
        if (Int32.TryParse(Variant, out var variantVersion))
        {
            version = variantVersion;
        }
        else if (Variant == "archetype")
        {
            useArchetype = true;
        }
        checklist = await ChecklistService.GetChecklistAsync(Title, useArchetype, version);
    }

    private void ToggleItem(ChecklistItem item)
    {
        if (item is EmbeddedChecklistItem)
        {
            // Can't toggle these
            return;
        }

        ChecklistService.ToggleItem(this.checklist, item);
    }
}
