@page "/checklist/{Title}"

<PageTitle>Checklist</PageTitle>

@using forgetmenot.Data
@inject ChecklistService ChecklistService

@if (checklist == null)
{
    <h1>Loading...</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@checklist.Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in checklist.Items)
            {
                var capturedItem = item;
                <tr>
                    <td @onclick="(e => ToggleItem(capturedItem))" >
                        <span>@(item.Done ? "✅" : "⬛") @item.Name</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p><em>@checklist.Summary</em></p>
    <p>Updated @checklist.LastModified by @checklist.LastModifiedBy</p>
    <p>@status</p>
}

@code {
    [Parameter]
    public string? Title {get; set;}

    private Checklist? checklist;
    private string status;

    protected override async Task OnInitializedAsync()
    {
        checklist = await ChecklistService.GetChecklistAsync(Title);
    }

    private void ToggleItem(ChecklistItem item)
    {
        item.Done = !item.Done;
        checklist.LastModified = DateTime.Now;
    }
}
