@page "/checklist/{Title}"

<PageTitle>Checklist</PageTitle>

@using forgetmenot.Data
@inject ChecklistService ChecklistService

@if (checklist == null)
{
    <h1>Loading...</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@checklist.Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in checklist.Items)
            {
                var capturedItem = item; //.Item;
                //var prefix = new string(' ' /* non breakable space u+00a0 */, capturedItem.IndentSize);
                <tr>
                    <td @onclick="(e => ToggleItem(capturedItem))" >
                        <span>@(capturedItem.Done ? "✅" : "⬛") @capturedItem.Name</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p><em>@checklist.Summary</em></p>
    <p>Updated @checklist.ModifiedDate by @checklist.ModifiedBy</p>
    <p>@status</p>
}

@code {
    [Parameter]
    public string? Title {get; set;}

    private Checklist? checklist;
    private string status;

    protected override async Task OnInitializedAsync()
    {
        checklist = await ChecklistService.GetChecklistAsync(Title);
    }

    private void ToggleItem(ChecklistItem item)
    {
        /*
        if (item.HasChildItems)
        {
            // Can't toggle these
            return;
        }

        item.Done = !item.Done;

        RecursivelyUpdateParents(item);
        checklist.LastModified = DateTime.Now;
        ChecklistService.SaveChecklist(this.checklist);
        */
    }

    private void RecursivelyUpdateParents(ChecklistItem item)
    {
        /*
        if (item.ParentItem is not null)
        {
            item.ParentItem.Done = checklist.Items
                .Where(n => n.ParentItem == item.ParentItem)
                .All(n => n.Done);
            RecursivelyUpdateParents(item.ParentItem);
        }
        */
    }
}
